body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: white;
}




.link {
    fill: none;
    stroke-opacity: 0.6;
}

textarea {
    width: 300px;
    height: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    padding: 8px;
    color: #4b4b4b;
    border: 3px solid #c4c4c4;
    border-radius: 6px;
    resize: none;
    margin-bottom: 8px;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

button {
    background-color: #c4c4c4;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 25px;
    right: 50px;
}
