[project]
name = "thomascamminady.github.io"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "mkdocs>=1.6.1",
    "mkdocs-material>=9.7.1",
]

[dependency-groups]
dev = [
    "pre-commit>=4.5.1",
]
