@import url("observablehq:default.css");
@import url("observablehq:theme-air.css");

:root {
    --theme-foreground-focus: rgb(28, 125, 205);
}

/* Apply monospace font only to the sidebar */
#observablehq-sidebar {
    font-family: var(--theme-font-family-monospace);
    font-family: sans-serif;

    font-size: 0.8em;
    background-color: white;
}

#observablehq-sidebar>ol:first-child::before {
    content: "";
    position: absolute;
    inset: 0 -0.5rem;
    background: white;
}

body,
html {
    font-family: 'Source Sans Pro', sans-serif;
    height: 80%;
    width: 80%;
    font-size: 1.em;
    font-weight: 500;
    margin-left: 20px;
    margin-top: 20px;

}